<?xml version="1.0" encoding="utf-8"?>
<FolderSettingsInDisk xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppGeneration>METEOR</AppGeneration>
  <AppVer>Ver 3.14</AppVer>
  <FileNameRules>
    <string>【&lt;Titleruby&gt;】&lt;Title&gt;(&lt;Worker&gt;)</string>
  </FileNameRules>
  <FolderNameRules>
    <string>&lt;Category&gt;=一般</string>
  </FolderNameRules>
</FolderSettingsInDisk>