<?xml version="1.0" encoding="utf-8"?>
<FolderSettingsInDisk xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppVer>Ver 4.97 β</AppVer>
  <FileNameRules>
    <string>&lt;Program&gt;_&lt;Title&gt;</string>
  </FileNameRules>
  <FolderNameRules>
    <string>&lt;Worker&gt;=AAA</string>
  </FolderNameRules>
</FolderSettingsInDisk>