<?xml version="1.0" encoding="utf-8"?>
<FolderSettingsInDisk xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <AppVer>Ver 6.00 β</AppVer>
  <FileNameRules>
    <string>&lt;Program&gt;／&lt;Title&gt;／&lt;Worker&gt;</string>
  </FileNameRules>
  <FolderNameRules />
</FolderSettingsInDisk>