<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ゆかりすたー同期コントロールパネル<!-- $TitleDetailPrefix$ --><!-- $TitleDetail$ --></title>
<link rel="stylesheet" href="CPStyle.css" type="text/css">
<!-- $AddHeader$ -->
</head>

<body<!-- $BodyProperty$ -->>

<!-- ★★★　メインコンテンツ　★★★ -->
<div id="MainCol">

<!-- $Headline$ -->

<!-- $MainContents$ -->

<p>
&nbsp;<!-- レイアウト保持対策 --><br>
</p>

</div><!-- MainCol -->

<!-- ★★★　左側メニュー　★★★ -->
<a name="LColMenu"></a>
<div id="LCol">

<!-- $MenuAdmin$ -->

<div class="SideMenuTitle">セキュリティ</div>

<div class="SideMenuItem"><a href="?Mode=ChangeCurrentPWForm">パスワード変更</a></div>

<div class="SideMenuTitle">情報</div>

<div class="SideMenuItem"><a href="?Mode=ViewStatus">状態表示</a></div>
<!-- $MenuItemAdminDebug$ -->
<div class="SideMenuItem"><a href="http://shinta.coresv.com/help/YukaLister_JPN.html" target="_blank">ヘルプ</a></div>

<div class="SideMenuTitle">ログアウト</div>

<div class="SideMenuItem"><a href="?Mode=Logout">ログアウト</a></div>

</div><!-- LCol -->

</body>

</html>


