<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>ゆかりすたー同期コントロールパネルログイン</title>
<link rel="stylesheet" href="CPStyle.css" type="text/css">
<!-- $AddHeader$ -->
</head>

<body<!-- $BodyProperty$ -->>

<!-- ★★★　メインコンテンツ　★★★ -->
<div id="MainCol">

<!-- $Headline$ -->

<!-- $MainContents$ -->

</div><!-- MainCol -->

<!-- ★★★　左側メニュー　★★★ -->
<a name="LColMenu"></a>
<div id="LCol">

<div class="SideMenuTitle">ログイン</div>

</div><!-- LCol -->

</body>

</html>
